body {
    background: #E0F7FA;
}

body>.grid {
    height: 100%;
}

div.column.login {
    max-width: 350px;
}

div#maincontent {
    margin-top: 70px;
}

.buttons.user-dropdown {
    height: 30px;
    margin-top: 5px;
}