<div class="column login">
    <div class="ui fluid card">
        <div class="content">
            <div class="header">Vikas Travels</div>
        </div>
        <div class="content">
            <form class="ui large form" action="/api/login" method="post" id="login-form">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <button class="ui fluid large teal submit button" id="login-button" type="submit">Login</button>
                </div>

                <div class="ui error message"></div>

            </form>

        </div>
        <div class="extra content">
            <div class="ui message">
                New to us? <a href="#">Sign Up</a>
            </div>
        </div>
    </div>
</div>