<div id="maincontent" class="ui main container">
  <!--<h1 class="ui header">Hjem</h1>-->
  <div class="ui stackable grid">
	<div class="ten wide column">
    <% include ./dashboard/center.ejs %>
	</div>
  </div>
</div>