<div class="ui fixed menu">
	<div class="ui container">
		<a href="#" class="header item" id="toggleSidebar">
			<i class="sidebar icon"></i>
			Admin Panel

		</a>
		<a href="#" class="active item">Home</a>

		<div class="ui simple dropdown item">
			Tasks <i class="dropdown icon"></i>
			<div class="menu">
				<a class="item" href="#">Balance</a>
				<a class="item" href="#">Inner</a>
				<a class="item" href="#">Outer</a>
				<div class="divider"></div>
				<a class="item" href="#">Logout</a>
			</div>
		</div>

		<div class="right menu">
		<div class="ui teal buttons user-dropdown mini">
		<div class="ui button">Save</div>
		<div class="ui floating dropdown icon button">
			<i class="dropdown icon"></i>
			<div class="menu">
			<div class="item"><a href="#" class="ui header teal"><i class="edit icon"></i> My Profile</a></div>
			<div class="item"><a href="/api/logout" class="ui header red"><i class="sign out icon"></i> Logout</a></div>
			</div>
		</div>
		</div>
		</div>

	</div>

</div>
