<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
		<% include ../partials/common/header %>
</head>

<body>
	<% include ../partials/common/topMenu %>
	<% include ../partials/common/sidebar %>
	<div class="pusher">
		<div class="ui middle aligned center aligned grid">
			<% include ../partials/user %>
		</div>
	</div>

	<footer>
		<% include ../partials/common/footer %>
	</footer>
</body>

</html>