<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
		<% include ../partials/common/header %>
</head>

<body class="ui container">
	<div class="ui middle aligned center aligned grid">
		<% include ../partials/login %>
	</div>

	<footer>
		<% include ../partials/common/footer %>
	</footer>
</body>

</html>